:root {
--nav-color: rgb(0, 0, 0);
--border-color: rgb(0, 0, 0);
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;    
    
    
}
header {
    
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0; 
}
nav > ul > li {
    margin: 10px;
}
   a {
    color: var(--nav-color);
    font-weight: 600;
    text-decoration: none;
    
}
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.btns {
    width: 80px;
    height: 20px;    

}
.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.inactive {
    display: none;
}
fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px auto;
}
input[type=number] {
    width: 55px;
}
section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
}
article {  
    max-width: 600px;
    position: relative;
    padding: 20px;
    border-bottom: 2px solid ;
    margin: 0 auto;
}
article > div {
    position: absolute;
    top: 50%;
    right:20px;
    transform: translateY(-50%);
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}
@media (max-width: 500px) {
   article {
    position: static;
    
   } 
   article > div {
    position: static;
    transform: none;  
}
}