:root {
--nav-color: rgb(10, 9, 9);
--border-color: rgb(0, 0, 0);
--login-icon: rgb(2, 7, 158);

}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;    
    
    
}
header {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userinfo {
    position: absolute;
    justify-self: flex-start;
    align-self: flex-end;
    text-decoration: underline;
    font-size: 0.8rem;
    color: var(--login-icon);
    
}
nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0; 
}
nav > ul > li {
    margin: 10px;
    position: relative;
}

.menu::after {
    content: '';  
    position: absolute;  
    bottom: -2px;  
    left: 50%;  
    width: 0;  
    height: 2px;  
    background-color: rgb(36, 36, 36);  
    transition: width 0.5s ease, left 0.5s ease; /* Smooth transition for width and position */
}

.menu:hover::after {
    width: 100%;  
    left: 0; /* Expand from center outward */
}
a {
    color: var(--nav-color);
    font-weight: 600;
    text-decoration: none;
    
}
#advanced-search-link {
    font-size: .9rem;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}
#advanced-search-link:hover {
    outline: 1px solid rgb(26, 26, 25);
    transition: outline 0.5s ease;
}
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.btns {
    width: 80px;
        

}
.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.inactive {
    display: none;
}
fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px auto;
}
input[type=number] {
    width: 55px;
}
section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
}
article {  
    max-width: 600px;
    position: relative;
    padding: 20px;
    border-bottom: 2px solid ;
    margin: 0 auto;
}
article > div {
    position: absolute;
    top: 50%;
    right:20px;
    transform: translateY(-50%);
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}
@media (max-width: 500px) {
   article {
    position: static;
    
   } 
   article > div {
    position: static;
    transform: none;  
}
}