:root {
    --nav-color: rgb(10, 9, 9);
    --border-color: rgb(0, 0, 0);
    --login-icon: rgb(2, 7, 158);
    --menu-hover-color: rgb(36, 36, 36);
    --form-background: #f9f9f9;
    --button-bg: rgb(19, 73, 22);
    --button-hover-bg: rgb(30, 116, 35);
    --disabled-bg: #ccc;
    --button-text-color: white;
}

body {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;    
}

header {
    position: relative;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-info {
    position: absolute;
    top: 10px;
    right:50px;    
    text-decoration: underline;    
    color: var(--login-icon);
}

nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    
}

nav > ul > li {    
    position: relative;
    font-size: 1.3rem;
    margin: 10px;
}

.menu::after {
    content: '';  
    position: absolute;  
    bottom: -2px;  
    left: 50%;  
    width: 0;  
    height: 2px;  
    background-color: var(--menu-hover-color);  
    transition: width 0.5s ease, left 0.5s ease; 
}

.menu:hover::after {
    width: 100%;  
    left: 0; 
}

a {
    color: var(--nav-color);
    font-weight: 600;
    text-decoration: none;    
}

#advanced-search-link {
    color: var(--button-text-color);
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%; 
      
}


.active {
    display: flex;
    }

.inactive {
    display: none;
}
#basic-search {
 flex-direction: row;
 padding: 10px 10px;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .5rem;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--form-background);    
    margin: 0 auto;
}

button[type=submit] {
    align-self: center;
}

fieldset {
    border: 1px solid var(--border-color);
    border-radius: 8px;    
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0.5rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-bottom: 1rem;
}

input, select {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
    max-width: 200px;
}
input[type=Number] {
    max-width: 100px;
}


button {
    margin: 5px;
    padding: .4rem .4rem;
    font-size: 1.2rem;
    font-weight: 600;    
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
}

button:disabled {
    background-color: var(--disabled-bg);
    cursor: not-allowed
}
button:disabled:hover {
    background-color: var(--disabled-bg);
}
button:hover {
    background-color: var(--button-hover-bg);
}

section {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;      
    align-items: center;
    width: 100%;
    height: 70vh;    
    overflow-y: scroll;        
    
}

article { 
    width: 100%; 
    max-width: 600px;
    position: relative;
    padding: 20px;
    border-bottom: 2px solid var(--border-color);
    margin: 0 auto;
    
}

article > div {
    position: absolute;    
    top: 50%;
    right: 0;    
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

@media (max-width: 700px) {
   article {
    width: 80%;
    position: static;
   } 
   article > div {
    position: static;  
    flex-direction: row;
    transform: none;
        
   }   
}
@media (max-width: 500px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }
    .menu {        
        font-size: 1rem;
    }

    button {        
        font-size: 0.8rem;
    }
   nav > ul {    
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
      justify-content: space-around;
    
   }
}